/*!

  Radancy MagicBullet: Accessibility Patch

  Contributor(s):
  Michael "Spell" Spellacy

*/

/* Global Issues */

/* Global ARIA Live */

.magicbullet-visually-hidden:not(:focus):not(:active) {
clip: rect(0 0 0 0); 
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap; 
width: 1px;
}

/* Ensure that all placeholder text is contrast friendly. */

::-moz-placeholder {
color: curretColor;
opacity: 1;
}
    
::-webkit-input-placeholder {
color: currentColor;
}

/* Hide Empty Elements */

h1, h2, h3, h4, h5, h6, label, a {

    &:empty {
    display: none;
    }

}

/* Access Link - Ensure accesslink always has _highest_ index. */

.access-link {
z-index: 2147483647 !important;
}

/* Search Location Datalist */

.a11y-search-location {

    .mindreader-results, .mindreader-status, .display-typeahead {
    display: none !important;
    }

}

/* Mindreader */

.mindreader-results {
padding: 0;

  /* Fix: Always set each autocomplete link to block, so that we can... */

  a {
  display: block;
  padding: .5em 1em;

    /* ... highlight the background, which is not always done. */ 

    &.active {
    background-color: #eee;
    outline: 1px #000 solid;
    outline-offset: -4px;
    }

  }

}

.a11y-search-location { 

  .search-location {
  z-index: 0 !important;
  }

}

/*  Data Forms */

.data-form {

  .form-field {
    
    &.required {
        
      label {

        /* A11YFORM001 */

        &::after {
        display: none;
        }

        .ico-required-indicator {
        display: inline-block;
        margin-inline-start: 0.5em;
        }

      }

    }

  }

  .data-form__close {
    
    &::after {
    display: none !important;
    }

  }

  .data-form__closeicon {
  display: block;
  pointer-events: none;

    &::after {
    border-radius: 10px;
    color: inherit;
    content: "+";
    display: inline-block;
    font: normal calc(24em/16) / .65em Arial, sans-serif;
    margin: -2px 0 0 10px;
    padding: 4px;
    position: absolute;
    right: 4px;
    text-indent: 0;
    text-shadow: none;
    text-transform: lowercase;
    top: 0;
    transform: rotate(45deg);
    } 

  }

  /* legends do not require an asterick */

  legend {

    &::after {
    display: none;
    }

  }

}

/* removing frameborder */

.grecaptcha-badge {

  iframe {
  border: 0;
  }

}

/* Search Form: Basic */

.search-form {

  .search-location-error, .search-form__location-error {
  outline: 0;
  }

}

/* 

  Since we are removing aria-expanded from various, non-interactive elements, we need to make it is not impacting ajax functionalit that may look them and keep component open.
  Fortunately, we can use the open class to our advantage. 

*/

.search-filter-list, .search-filters__list {
    
  &.expandable-childlist-open {
  display: block;
  }

}

/* 

  On mobile, when the search filter is open, the entire page can be accidentialy refreshed when scrolling. This is aggrivating, causing user to have open the filers again. 
  Also adding default color to scrollbar as default often not discernable

*/

#search-filters {

  &.open {
  overscroll-behavior: none;
  }

}

/* The typeahead text sometimes interferes with the text being typed, making things illegible. Removing for now as I do not it is absolutely necessary to include. The dropdown should be sufficient. */

.display-typeahead {
display: none;
}

/* The comboxbox on the Job Map page is severaly broken for accessibility. An easier way to address this issue is to always have the <select> present. */

#wrapper-sel-city {
height: auto;

  &[hidden] {
  display: none !important;
  }

}

#sel-city, label[for="sel-city"] {
display: block !important;

  option:first-child {
  display: none;
  }

}

label[for="sel-cityundefined"], .combobox-container {
display: none !important;
}

.keyword-region { 
display: contents;
}

/*

AJD "Back to Navigation" Links
Issue: WAVE is reporting contrast issue due to opacity: 0 on the hyperlinks. To override, we set opacity to 1 or auto and hide the link using clip. Allso ensuring good contrast.

*/

.inPageNav__back-link, .back-to-ajd-nav__a {
background-color: #666;
clip: rect(0, 0, 0, 0);
color: #fff;
opacity: 1;

  &:focus {
  background-color: #666;
  clip: auto;
  }

}

/* Refine Keyword */

#refined-search {

  #add-keyword[disabled] {
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
  cursor: default;
  pointer-events: none;
  }

}