/*

  Radancy: Accessibility Patch
  Developer(s): Michael "Spell" Spellacy, Twitter: spellacy, GitHub: michaelspellacy, michael.spellacy[at]radancy.com

*/

/* Access Link - Ensure accesslink always has higher index. */

.access-link {
z-index: 2147483647 !important;
}

/* Search Location Datalist */

.a11y-search-location .mindreader-results, .a11y-search-location .mindreader-status, .a11y-search-location .display-typeahead {
display: none !important;
}

.a11y-search-location .search-location {
z-index: 0 !important;
}

/* Issue: Remove all CSS astericks. These are being read back by AT */

.form-field.required label::after {
display: none;
}

.form-field.required label .ico-required-indicator[aria-hidden="true"] {
display: inline-block !important;
}

/* Issue: Chnage color of all placeholder text to make more contrast friendly */

::-moz-placeholder {
color: #767676;
opacity: 1;
}

::-webkit-input-placeholder {
color: #767676;
}
