/*!

  Radancy MagicBullet: Accessibility Patch

  Contributor(s):
  Michael "Spell" Spellacy

  Dependencies: Sass

  Instructions: 
  sass --watch .:. --style compressed

*/

/* Global Issues */

// Ensure that all placeholder text is contrast friendly.

::-moz-placeholder {
color: #767676;
opacity: 1;
}
    
::-webkit-input-placeholder {
color: #767676;
}

/* Hide Empty Elements */

h1, h2, h3, h4, h5, h6, label {

    &:empty {
    display: none;
    }

}

/* Access Link - Ensure accesslink always has higher index. */

.access-link {
z-index: 2147483647 !important;
}

/* Search Location Datalist */

.a11y-search-location {

    .mindreader-results, .mindreader-status, .display-typeahead {
    display: none !important;
    }

}

.a11y-search-location { 

    .search-location {
    z-index: 0 !important;
    }

}

// Data Forms

.form-field {
    
    &.required {
        
        label {

            // A11YFORM001

            &::after {
            display: none;
            }

            .ico-required-indicator {
            display: inline-block;
            margin-inline-start: 0.5em;
            }

        }

    }

    // We do not need a close button on the form message. Who cares if it opened. 

    &.form-message {

        a {
        // display: none;
        }

    }

}

// Captcha Badge

@keyframes revealBadge {

    from {
    opacity: 0;
    visibility: hidden;
    }

    to {
    opacity: 1;
    visibility: visible;
    }

}

.grecaptcha-badge {
animation-delay: 500ms;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-name: revealBadge;
opacity: 0;
visibility: hidden;
    
    iframe {
    border: 0;
    }

}