<nav aria-label="Main" id="main-navigation">

    <ul>
      <li><a href="{{ site.baseurl }}/" id="nav-rad-index">MagicBullet</a></li>
      <li><a href="{{ site.baseurl }}/a11y/" id="nav-index">Accessibility Patch</a></li>
      <li><a href="{{ site.baseurl }}/ccpa/" id="nav-ccpa-index">California Consumer Privacy Act (CCPA) Notice</a></li>
      <li><a href="{{ site.baseurl }}/gdpr/" id="nav-gdpr-index">General Data Protection Regulation (GDPR) Notice</a></li>
      <li><a href="{{ site.baseurl }}/alert/" id="nav-alert-index">System Alert</a></li>
    </ul>
  
  </nav>