<nav aria-label="Main" id="main-navigation">

    <ul>
      <li><a href="{{ site.baseurl }}/" data-nav-id="rad-index">MagicBullet</a>
    
        <ul>
          <li><a href="{{ site.baseurl }}/a11y/" data-nav-id="rad-a11y-index">Accessibility Patch</a></li>
          <li><a href="{{ site.baseurl }}/ccpa/" data-nav-id="rad-ccpa-index">California Consumer Privacy Act (CCPA) Notice</a></li>
          <li><a href="{{ site.baseurl }}/gdpr/" data-nav-id="rad-gdpr-index">General Data Protection Regulation (GDPR) Notice</a></li>
          <li><a href="{{ site.baseurl }}/alert/" data-nav-id="rad-alert-index">System Alert</a></li>
        </ul>

      </li>

  </nav>