{% comment %}

  Radancy Component Library: Main Page Template

  Contributor(s):
  Michael "Spell" Spellacy

{% endcomment %}

{% comment %} Data connections and other variables. {% endcomment %}

{% if site.name == "Component Library" %}

  {% assign current_id = page.id %}
  {% assign selectedComponents = site.data.module.components %}
  {% assign selectedFeeds = site.data.module.feeds %}
  {% assign allSelections = selectedComponents | concat: selectedFeeds %}
  {% assign counter = 0 %}

{% endif %}

{% include icon.html %}

{% if page.messages %} 

    {% for message in page.messages %}

      {% include message/{{ message }}.html %}

    {% endfor %}

{% endif %}

{% if page.warning %}
  
  <div class="warning">
  
    <p><strong>Warning:</strong> {{ page.warning }}</p>

  </div>

{% endif %}

{% if page.note %}
  
  <div class="note">
  
    <p><strong>Note:</strong> {{ page.note }}</p>

  </div>

{% endif %}

{% if page.reminder %}
  
  <div class="reminder">
  
    <p><strong>Reminder:</strong> {{ page.reminder }}</p>

  </div>

{% endif %}

{% if component %}

  <p class="component__summary">{{ component.desc }}</p>

{% else if page.desc %}

  <p class="page__summary">{{ page.desc }}</p>

{% endif %}

{% if contentblock %}

  {{ contentblock }}

{% endif %}

{% if page.in-page-custom %}

  <div class="in-page-custom" data-in-page-dynamic>

    <h2 id="examples">Examples</h2>

    <nav aria-label="Example" class="in-page-custom__nav">

      <label class="in-page-custom__label">Choose an example:</label>

      <select class="in-page-custom__select">

      </select>

      <div class="sr-only" aria-live="polite"></div>

    </nav>

{% endif %}

{% assign total_example_count = 0 %}

{% for component in allSelections %}

  {% if component.id == current_id %}

    {% assign example_count = component.examples | size %}
    {% assign total_example_count = total_example_count | plus: example_count %}

  {% endif %}

{% endfor %}

{% if total_example_count == 1 %}

  <h2 id="basic-setup">Default Setup</h2>

{% endif %}

{% for component in allSelections %}

    {% if component.id == current_id %}
  
      {% for example in component.examples %}

        {% capture html %}{% include_relative html/{{ example.id }}.html %}{% endcapture %}

        {% if page.localcss %}

          {% capture css %}{% include_relative init.scss %}{% endcapture %}

        {% endif %}

        {% if page.localjs %}

          {% capture js %}{% include_relative script.js title=component.title version=component.version %}{% endcapture %}

        {% endif %}

        {% if example.customcss %}

          {% capture customcss %}{% include_relative {{ example.customcss }}.scss %}{% endcapture %}

        {% endif %}

        {% if example.customjs %}

          {% capture customjs %}{% include_relative {{ example.customjs }} %}{% endcapture %}

        {% endif %}

        {% if page.in-page-custom %}

          <div class="in-page-custom__content" data-in-page-name="{{ example.name }}" data-in-page-id="{{ example.id }}">

        {% endif %}
  
        {% include_relative html/{{ example.id }}.html %}

        {% if example.warning %}
  
          <div class="warning">
        
            <p><strong>Warning:</strong> {{ example.warning }}</p>

          </div>

        {% endif %}
  
        {% if example.note %}
  
          <div class="note">
          
            <p><strong>Note:</strong> {{ example.note }}</p>

          </div>
  
        {% endif %}

        {% if example.reminder %}
  
          <div class="reminder">
        
            <p><strong>Reminder:</strong> {{ example.reminder }}</p>

          </div>

        {% endif %}

        {% if example.experimental %}
  
          <div class="experimental">
        
            <p><strong>Experimental:</strong> {{ example.experimental }}</p>

          </div>

        {% endif %}

        <nav aria-label="Code Functions" class="component-functions">
        
          <ul>
            <li><button class="btn-copy-link" data-code="{{ page.url | absolute_url }}#{{ example.id }}">{{ iconCheck }}{{ iconCopyURL }} Copy link to example</button></li>
            <li><form action="https://codepen.io/pen/define" id="{{ example.id }}-codepen" method="POST" target="_blank"><button class="btn-edit-codepen">{{ iconCodePen }} Edit on CodePen</button></form></li>
            <li><a class="btn-new-window" href="{{ example.id }}" target="_blank">{{ iconNewWindow }} Open in new window</a></li>
            <li><button class="btn-view-code" onclick="javascript:location.reload();">{{ iconRefresh }} Refresh Page</button></li>
            <li><a class="btn-repository" href="{{ site.repo }}/blob/main/{{ component.path }}/">{{ iconGit }} View Repository</a></li>
            <li><button class="btn-view-code">{{ iconCode }} View Source Code</button></li>
          </ul>

        </nav>

        {% assign counter = counter | plus: 1 %}

        <div class="content-view-code">

          <div class="tablist" data-fixed-height>

            <ul class="tablist__list">
              <li><a class="tablist__tab" href="#html-{{counter}}">{{ iconHTML }} HTML</a></li>
              {% if page.localcss %}
              <li><a class="tablist__tab" href="#css-{{counter}}">{{ iconCSS }} CSS</a></li>
              {% endif %}
              {% if example.customcss %}
              <li><a class="tablist__tab" href="#custom-css-{{counter}}">{{ iconCSS }} CSS (Custom)</a></li>
              {% endif %}
              {% if page.localjs %}
              <li><a class="tablist__tab" href="#javascript-{{counter}}">{{ iconJS }} JavaScript</a></li>
              {% endif %}
              {% if example.customjs %}
              <li><a class="tablist__tab" href="#custom-javascript-{{counter}}">{{ iconJS }} JavaScript (Custom)</a></li>
              {% endif %}
            </ul>
      
            <div class="tablist__panel" id="html-{{counter}}">
      
              <div class="tablist__content" contenteditable spellcheck="false">

                {% highlight html %}{% include_relative html/{{ example.id }}.html %}{% endhighlight %}

              </div>

            </div>

            {% if page.localcss %}

              <div class="tablist__panel" id="css-{{counter}}">
      
                <div class="tablist__content" contenteditable spellcheck="false">

                  {% highlight css %}{% include_relative init.scss %}{% endhighlight %}

                </div>

              </div>

            {% endif %}

            {% if example.customcss %}

              <div class="tablist__panel" id="custom-css-{{counter}}">
      
                <div class="tablist__content" contenteditable spellcheck="false">

                  {% highlight javascript %}{% include_relative {{ example.customcss }}.scss %}{% endhighlight %}

                </div>

              </div>

            {% endif %}

            {% if page.localjs %}

              <div class="tablist__panel" id="javascript-{{counter}}">
      
                <div class="tablist__content" contenteditable spellcheck="false">

                  {% highlight javascript %}{% include_relative script.js title=component.title version=component.version %}{% endhighlight %}

                </div>

              </div>

            {% endif %}

            {% if example.customjs %}

              <div class="tablist__panel" id="custom-javascript-{{counter}}">
      
                <div class="tablist__content" contenteditable spellcheck="false">

                  {% highlight javascript %}{% include_relative {{ example.customjs }} %}{% endhighlight %}

                </div>

              </div>

            {% endif %}

          </div>

        </div>

        {% if example.guidance %}
  
          {% for item in example.guidance %}
  
            {% include guidance/{{ item }}.html %}
  
          {% endfor %}
  
      {% endif %}

      <script>

      var codePenForm = document.getElementById("{{ example.id }}-codepen");
    
      var obj = {
            
        title: "{{ component.title }} {% if example.name %}: {{ example.name }} {% endif %}",
        html: {{ html | jsonify }},
        css_external: "https://radancy.dev/css/init.css",
        css_pre_processor: "scss",
        {% if example.customcss %}
        css: {{ css | append: customcss | jsonify }},
        {% else %}
        css: {{ css | jsonify }}, 
        {% endif %}
        {% if example.customjs %}
        js: {{ js | append: customjs | jsonify }},
        {% else %}
        js: {{ js | jsonify }},
        {% endif %}
        {% if example.codepenjs %}
        js_external: '{% for item in example.codepenjs %}{% if item contains "://" %}{{ item }}{% else %}{{site.url}}/animation-library/{{ item }}{% endif %}{% if forloop.last %}{% else %};{% endif %}{% endfor %}',
        {% endif %}
    
      };
    
      var json = JSON.stringify(obj);
    
      var codePenInput = document.createElement("input");
      codePenInput.setAttribute("type", "hidden");
      codePenInput.setAttribute("name", "data");
      codePenInput.setAttribute("value", json);
      codePenForm.prepend(codePenInput);
    
      </script>

      {% if page.in-page-custom %}
  
        </div>

      {% endif %}

    {% endfor %}

  {% endif %}

{% endfor %}

{% if page.in-page-custom %}
  
</div>

{% endif %}

{% if page.guidance %} 

  {% assign sortGuidance = page.guidance %}

  {% for item in sortGuidance %}

    {% include guidance/{{ item }}.html %}

  {% endfor %}

{% endif %}

{% if page.elements or page.aria or page.attributes or page.sass or page.class or page.cookies or page.parameters %}

  <h2 id="properties">Properties</h2>

  <p>Use the following properties to configure this component.</p>

{% endif %}

{% if page.elements %} 

  <div class="table-container">

    <table id="elements">
    <caption><a class="anchor" href="#elements">{{ iconAnchor }} <span class="sr-only">Anchor (Elements)</span></a> Elements</caption>
    <thead>
    <tr>
      <th>Element</th>
      <th>Note</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortElements = page.elements %}

    {% for element in sortElements %}

      <tr>
        <td>{% for html in element.html %}<code>{{ html }}</code>{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{% for note in element.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ element.desc }}</td>
      </tr>

    {% endfor %}

    </tbody>
    </table>

  </div>

{% endif %}

{% if page.aria %} 

  <div class="table-container">

    <table id="aria">
    <caption><a class="anchor" href="#aria">{{ iconAnchor }} <span class="sr-only">Anchor (ARIA)</span></a> ARIA</caption>
    <thead>
    <tr>
      <th>ARIA</th>
      <th>Applies To</th>
      <th>Note</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortAria = page.aria %}

    {% for aria in sortAria %}

      <tr>
        <td><code>{{ aria.name }}</code></td>
        <td><code>{% for html in aria.html %}<code>{{ html }}</code>{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</code></td>
        <td>{% for note in aria.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ aria.desc }}</td>
      </tr>

    {% endfor %}

    </tbody>
    </table>

  </div>

{% endif %}

{% if page.attributes %} 

  <div class="table-container">

    <table id="attributes">
    <caption><a class="anchor" href="#attributes">{{ iconAnchor }} <span class="sr-only">Anchor (Attributes)</span></a> Attributes</caption>
    <thead>
    <tr>
      <th>Attribute</th>
      <th>Applies To</th>
      <th>Note</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortAttributes = page.attributes %}

    {% for attribute in sortAttributes %}

      <tr>
        <td><code>{{ attribute.name }}</code></td>
        <td>{% for html in attribute.html %}<code>{{ html }}</code>{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{% for note in attribute.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ attribute.desc }}</td>
    </tr>

    {% endfor %}

    </tbody>
    </table>

  </div>

{% endif %}

{% if page.sass %} 

  <div class="table-container">

    <table id="scss">
    <caption><a class="anchor" href="#scss">{{ iconAnchor }} <span class="sr-only">Anchor (SCSS)</span></a> SCSS</caption>
    <thead>
    <tr>
      <th>Variable</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortSass = page.sass %}

    {% for scss in sortSass %}

      <tr>
        <td><code>{{ scss.name }}</code></td>
        <td>{{ scss.desc }}</td>
    </tr>

    {% endfor %}

    </tbody>
    </table>

  </div>

{% endif %}

{% if page.classes %} 

  <div class="table-container">

    <table id="classes">
    <caption><a class="anchor" href="#classes">{{ iconAnchor }} <span class="sr-only">Anchor (Classes)</span></a> Classes</caption>
    <thead>
    <tr>
      <th>Class</th>
      <th>Applies To</th>
      <th>Note</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortClasses = page.classes %}

    {% for class in sortClasses %}

      <tr>
        <td><code>{{ class.name }}</code></td>
        <td>{% for html in class.html %}<code>{{ html }}</code>{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{% for note in class.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ class.desc }}</td>
      </tr>

    {% endfor %}

    </tbody>
    </table>

  </div>

{% endif %}

{% if page.cookies %} 

  <div class="table-container">

    <table id="cookies">
    <caption><a class="anchor" href="#cookies">{{ iconAnchor }} <span class="sr-only">Anchor (Cookies)</span></a> Cookies</caption>
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Type</th>
      <th>Secure</th>
      <th>SameSite</th>
      <th>Domain</th>
      <th>Path</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortCookies = page.cookies %}

    {% for cookie in sortCookies %}

      <tr>
        <td>{{ cookie.name }}</td>
        <td>{{ cookie.value }}</td>
        <td>{{ cookie.type }}</td>
        <td>{{ cookie.secure }}</td>
        <td>{{ cookie.samesite }}</td>
        <td>{{ cookie.domain }}</td>
        <td>{{ cookie.path }}</td>
      </tr>

    {% endfor %}

    </tbody>
    </table>

  </div>

{% endif %}

{% if page.parameters %} 

  <div class="table-container">

    <table id="parameters">
    <caption><a class="anchor" href="#parameters">{{ iconAnchor }} <span class="sr-only">Anchor (Parameters)</span></a> Parameters</caption>
    <thead>
    <tr>
      <th>Parameter</th>
      <th>Note</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>

    {% assign sortParameters = page.parameters %}

    {% for parameter in sortParameters %}

      <tr>
        <td>{{ parameter.name }}</td>
        <td>{% for note in parameter.note %}{{ note }}{% if forloop.last %}{% else %}, {% endif %} {% endfor %}</td>
        <td>{{ parameter.desc }}</td>
      </tr>

    {% endfor %}

    </tbody>
    </table>

  </div>

{% endif %}

{% if page.notes %} 

  <h2 id="notes"><a class="anchor" href="#notes">{{ iconAnchor }} <span class="sr-only">Anchor (Notes)</span></a> Additional Notes</h2>

  <ul>
    
    {% assign sortNotes = page.notes %}

    {% for note in sortNotes %}
    
      <li>{{ note }}</li> 
    
    {% endfor %}

  </ul>

{% endif %}

<h2 id="issues">Report Issues</h2>

<p>Find a bug? Report it on <a href="https://jira.radancy.com/secure/Dashboard.jspa#create_link">JIRA</a>. You're so awesome!</p>