.main-content section {
border: 1px #666 solid;
padding: 0 1em 1em;
margin-top: 1em;
border-radius: 5px;
}

.indent {
margin-left: 1em;
}

/* Banner Functionality (Testing) */

.gdpr-eu-tmp-notice {
color: green;
}

.gdpr-eu-tmp-notice a {
color: inherit;
text-decoration: underline;
}

.gdpr-eu-tmp-notice:not(:empty):after {
content: "(Success! The script has been loaded!)";
display: block;
margin-top: 1em;
}
