---
messages: 

  - deprecated

attributes:

  - name: data-gdpr
    html: script
    note:

      - String
      - Mandatory

    desc: Passing this data attribute a value of "true", will initiate the GDPR script.

  - name: data-gdpr-banner-remove
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a value of "true", will prevent the banner notice from loading. Implied consent will also not be captured. Dynamically generated form messages will still be applied to all forms on the site.

  - name: data-gdpr-banner-top
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a value of "true", will will position the GDPR banner at the top of the page. The default position is to load at the bottom of the page.

  - name: data-gdpr-button-color
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any valid CSS color value will change the background color of the "Accept" button.

  - name: data-gdpr-button-color-text
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any valid CSS color value will change the text color of the "Accept" button.

  - name: data-gdpr-button-text
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any string value will change the text of the "Accept" button. The default text is "Accept".

  - name: data-gdpr-client-name
    html: script
    note:

      - String
      - Mandatory

    desc: Passing this data attribute a string value, such as the name of the client, will include that value in any needed verbiage used within the notice and form message.

  - name: data-gdpr-custom-form-message
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a string value will override the default message that is appended to the form. HTML may be included.

  - name: data-gdpr-custom-message
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a string value will override the default message. HTML may be included.

  - name: data-gdpr-date-expire
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a value of "true", will allow the banner to expire after <strong>one day</strong>, instead of the default 30 days.

  - name: data-gdpr-domain
    html: script
    note:

      - String
      - Optional

    desc: There are times when a client may wish to share cookie values and ensure the banner is hidden across multiple URL's with the same domain or subdomain. This is possible if the MagicBullet script is placed on all needed sites and each include the value of the domain.

  - name: data-gdpr-explicit-consent
    html: script
    note:

      - String
      - Optional

    desc: If your site requires that consent to track and use cookies be explicitly given, then you may use this data attribute to accomplish that. Passing this data attribute a string value of "true" will override the default behavior, which is set to passive consent, an implied acceptance via the continued use of the website. The banner will now persist from page to page until the user explicitly clicks on the "Accept" button in the banner.  If explicit consent is used, it is very likely that the SEO team will need to be adjusting desired tracking behaviors in this scenario, so be sure to remind your DPM of this task.

  - name: data-gdpr-font-size
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any valid CSS unit, will change the font size used within the notice.

  - name: data-gdpr-form-bypas
    html: script
    note:

      - String
      - Optional

    desc: If you need to override the default behavior of placing the form message over the submit button, then you may include the following data attribute and value. Removing the default behavior means that you will need to manually insert the message into the desired position within the form. To do this, place the following markup wherever you would like the message to appear. 

  - name: data-gdpr-form-msg-exception
    html: .data-form
    note:

      - String
      - Optional

    desc: Used to exclude the default form message on desired form.

  - name: data-gdpr-ga-custom-category
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a custom value will override the value of <code>data-custom-category</code>, which currently defaults to "GDPR".

  - name: data-gdpr-ga-custom-label
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a custom value will override the value of <code>data-custom-label</code>, which currently defaults to "GDPR Accept Button".

  - name: data-gdpr-language
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a language code, will translate the notice and form message into the desired language. The default language is English. 

  - name: data-gdpr-new-window
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a value of "false" will disable the privacy policy link from opening in a new window. The default behavior is for all notice links to open in a new window, which is best practice. These visual cues will not appear when new windows are disabled.

  - name: data-gdpr-notice-color
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any valid CSS color value will change the background color of the notice.

  - name: data-gdpr-notice-text-color
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any valid CSS color value will change the text color of the notice.

  - name: data-gdpr-policy-url
    html: script
    note:

      - String
      - Mandatory

    desc: Passing this data attribute a policy URL, will include that URL within the notice and form message. The value must be in the form of a fully qualified URL.

  - name: data-gdpr-text-align
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any valid CSS text-align value, will change the alignment of the text within the notice. The default value is "center".

  - name: data-gdpr-z-index
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute any number from 1 to 2147483647, will change the z-index stack. The default value is "10000".

  - name: data-location-aware
    html: script
    note:

      - String
      - Optional

    desc: Passing this data attribute a value of "true", will load the notice only within EU countries.

classes:

  - name: .magic-bullet-gdpr
    html: body
    note: Component
    desc: Added to the <code>body</code> element as a hook for GDPR related formatting.

cookies: 

  - name: BannerDisplayed
    value: Date (30 Days)
    type: Persistent
    secure: Yes
    samesite: None
    domain: N/A
    path: /

  - name: ConsentCapture
    value: Date (30 Days)
    type: Persistent
    secure: Yes
    samesite: None
    domain: N/A
    path: /

title: "General Data Protection Regulation (GDPR) Notice v1.7"
desc: This script may be used to generate a GDPR consent notice on any Radancy hosted website. Due to privacy concerns, European Union (EU) citizens who engage with any website that collects data, must now be warned in advance and be able to opt-in to permit their data to be used. You can learn more about GDPR on the <a href="https://gdpr.eu">official website</a>. 
accordion: true
---

{% include icon.html %}

{% capture contentblock %}

  <h2>Implementation</h2>

  <h3>HTML</h3>

  {% highlight html %}<script id="radancy-magicbullet" data-gdpr="true" data-gdpr-client-name="[client name]" data-gdpr-policy-url="[site policy url]" src="https://services.tmpwebeng.com/magicbullet/"></script>{% endhighlight %}

  <h3>JavaScript</h3>

  {% highlight javascript %}var magicBullet = document.createElement("script");
magicBullet.setAttribute("id", "radancy-magicbullet");
magicBullet.setAttribute("data-gdpr", "true");
magicBullet.setAttribute("data-gdpr-client-name", "[client name]");
magicBullet.setAttribute("data-gdpr-policy-url", "[site policy url]");
magicBullet.setAttribute("src", "https://services.tmpwebeng.com/magicbullet/");
document.body.appendChild(magicBullet);{% endhighlight %}

  <h2>Internationalization (i18n)</h2>

  <p>The following language code values are accepted by the script:</p>

  <ul>
    <li><strong>cs</strong> (Czezh)</li>
    <li><strong>da</strong> (Danish)</li>
    <li><strong>de</strong> (German)</li>
    <li><strong>es</strong> (Spanish)</li>
    <li><strong>es-mx</strong> (Spanish Mexican)</li>
    <li><strong>fr</strong> (French)</li>
    <li><strong>fr-ca</strong> (French Canadian)</li>
    <li><strong>fr-ch</strong> (French Switzerland)</li>
    <li><strong>hu</strong> (Hungarian)</li>
    <li><strong>it</strong> (Italian)</li>
    <li><strong>jp</strong> (Japanese)</li>
    <li><strong>ko</strong> (Korean)</li>
    <li><strong>lt</strong> (Lithuanian)</li>
    <li><strong>nl</strong> (Dutch)</li>
    <li><strong>nl-be</strong> (Dutch Belgium)</li>
    <li><strong>pl</strong> (Polish)</li>
    <li><strong>pt</strong> (Portuguese)</li>
    <li><strong>pt-br</strong> (Brazillian Portuguese)</li>
    <li><strong>ru</strong> (Russian)</li>
    <li><strong>sv</strong> (Swedish)</li>
    <li><strong>tl</strong> (Tagalog)</li>
    <li><strong>zh-hans</strong> (Simplified Chinese)</li>
    <li><strong>zh-hant</strong> (Traditional Chinese)</li>
  </ul>

  <h2>Testing</h2>

  <p>You can preview how the notice will look by adding the JavaScript version into your development console. If you encounter any issues during this testing, please get in touch with <a href="mailto:michael.spellacy@radancy.com">Michael Spellacy</a>.</p>

  <img src="example.png" loading="lazy" alt="">

  <script id="radancy-magicbullet" data-gdpr="true" data-gdpr-policy-url="https://www.radancy.com/privacy/" data-gdpr-client-name="Radancy" src="../init.js"></script>

{% endcapture %}

{% include template.html %}
